ANTHROPIC_API_KEY=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
AWS_ACCESS_KEY_ID=AKIA6MTLVTYMQS2K476S
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=us-east-1